body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: @use rules must be written before any other rules.\a    \2577 \a 57 \2502  @use "../abstracts/variables" as *;\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\abstracts\\_variables.scss 57:1  @use\a   scss\\abstracts\\_mixins.scss 2:1      @use\a   scss\\main.scss 1:1                   root stylesheet';
}
