
@use "../variables" as *;

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$breakpoint} no existe.";
  }
}

@mixin button-style($bg: $primary, $color: white) {
  display: inline-block;
  padding: 0.6em 1.4em;
  background: $bg;
  color: $color;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.2s;

  &:hover {
    background: darken($bg, 10%);
    transform: translateY(-1px);
  }
}

@mixin center-flex($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}