@use "sass:map";

$breakpoints: (
  xl: 1200px,
  lg: 1000px,
  md: 760px,
  sm: 560px
);


$colors: (
  primary: #e60000,      
  dark: #111,
  light: #fff,
  gray: #eee,
  text: #222,
  accent: #ffd700        
);


$font-sizes: (
  base: 1rem,
  h1: 3.2rem,
  h2: 2.4rem,
  h3: 1.8rem,
  small: 0.9rem
);


$font-primary: 'Roboto', sans-serif;     
$font-heading: 'Oswald', sans-serif;          
$font-comic: 'Bangers', cursive;               


$spacing: (
  xs: 0.5rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
  xl: 3rem
);