
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.principal {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}


.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.fila {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


.campo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo.ancho {
    flex: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}


.checkbox {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (max-width: 901px) {
    .fila {
        flex-direction: column;
    }
}
