
.icon-mail:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-music:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
