body{
    background-color: lightblue;
    
}

h1{
    text-align: center;
    margin-top: 200px;
}

.principal{
    border-radius: 2px;
    background-color: white;
    max-width: 760px;
    align-items: center;
    margin-left: 560px;
    padding: 30px;
    display: flex;
    gap: 15px;
}

.parrafo img{
    width: 15%; 
    height: 140px;
}

.parrafo{
    font-size: 15px;
}