.pie{
    background-color: black;
    
}

.cabecera{
    background-color: rgb(43, 43, 241);
    padding: 22px;
    text-align: center;
    border-radius: 3px;
}

body{
    background-color: rgb(250, 247, 247);
}

.principal{
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    max-width:500px ;
    border-radius: 3px;
}