body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(238, 234, 234);
}
.principal {
    max-width: 1040px; 
    margin-left: auto;
    margin-right: auto;
}


.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #2aa4df;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    transition: background 0.3s;
}

.menu-item:nth-child(2) {
    background: #1b86bb;
}

.menu-item:nth-child(3) {
    background: #0f5f85;
}

.menu-item i {
    font-size: 18px;
    margin-top: 4px;
}

.menu-item:hover {
    background: #0b4d6b;
    color: #fff;
}

.separador {
    border: none;
    height: 2px;
    background: #2aa4df;
    margin: 20px 0;
}

#portfolio h2 {
    color: #2aa4df;
    font-weight: 300;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

.social-icon.twitter {
    background-color: #1DA1F2;
}

.social-icon.instagram {
    background-color: #8a3ab9;
}

.social-icon.facebook {
    background-color: #1877F2;
}
