@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.logo {
  @include center-flex();
  font-size: 2.2rem;
  font-weight: bold;
  color: map-get($colors, primary);
  text-decoration: none;

  img {
    max-height: 60px;
    margin-right: 0.8rem;
  }
}