@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";
@use "sass:color";   

.btn {
  @include button-style();
  
  &--primary { @include button-style(map.get($colors, "primary")); }
  &--accent  { @include button-style(map.get($colors, "accent"), #000); }
}