@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:map";

.logo {
  @include center-flex(row);
  font-size: 2.5rem;  
  color: map.get($colors, "primary");
  text-decoration: none;
  text-shadow: 4px 4px 0 #000, 6px 6px 0 map.get($colors, "accent");
}