html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

img {
    max-width: 100%;
}


.titulo {
    text-align: center;
}

.header {
    padding-top: 3rem;
}

.navegacion {
    background-color: black;
    margin: 3rem 0;
}

.navegacion a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.navegacion a:hover {
    background-color: #c9c84a;
    color: black;
}

.slider img {
    width: 100%;
}

.entrada p {
    text-align: justify;
}

.informacion {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
}

.informacion p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}

blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}

.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}

.footer a {
    display: block;
    color: #525252;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}


/** Grid aqui**/

@media (min-width: 768px) {

    .navegacion nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

   .contenido-principal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "titulo titulo titulo"
        "informacion entrada ."
        ". entrada imagen1"
        "imagen2 entrada .";
    gap: 2rem;
    width: 70%;
    }

    .slider{
        width: 70%;
        margin-left: 280px;
    }
    .titulo {
        grid-area: titulo;
        text-align: center;
    }

    .entrada {
        grid-area: entrada;
    }

    .informacion {
        grid-area: informacion;
        height: fit-content;
    }

    .imagen1 {
        grid-area: imagen1;
        
    }

    .imagen2 {
        grid-area: imagen2;
        
    }

    .footer .contenedor {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        text-align: center;
    }

    .contenedor {
        width: 70%;
        margin-left: 280px;
    }
}

@media (max-width: 768px) {

    .navegacion nav {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

   .contenido-principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "titulo"
        "informacion"
        "entrada"
        "imagen1"
        "imagen2";
    gap: 2rem;
}

    .titulo {
        grid-area: titulo;
    }

    .entrada {
        grid-area: entrada;
    }

    .informacion {
        grid-area: informacion;
    }

    .imagen1 {
        grid-area: imagen1;
    }

    .imagen2 {
        grid-area: imagen2;
    }

    .footer .contenedor {
        display: block;
    }

    .footer .widget {
        margin-bottom: 2rem;
    }
}