@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {
  background: map-get($colors, dark);
  color: white;
  padding: 3rem 1rem 1.5rem;
  text-align: center;

  .footer-content {
    @include center-flex(column);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;

    @include mq(lg) {
      flex-direction: row;
      justify-content: space-around;
      text-align: left;
    }
  }

  a {
    color: map-get($colors, accent);
    text-decoration: none;
  }
}