
.icon-ok:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
